@import "tailwindcss";

body {
  color: aliceblue;
  font-family: font;
}

/* *{
  outline: 2px solid red;
} */

::selection {
  background: rgb(241, 226, 189);
  color: #000014;
}

@font-face {
  font-family: font;
  src: url(/public/Poppins-Regular.ttf);
}
@font-face {
  font-family: heading;
  src: url(/public/heading.otf);
}
/* @font-face {
  font-family: playground-heading;
  src: url(./assets/Edition-BF69b289c277a15.otf);
} */

.button-animation {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

/* glowing animated border */
.button-animation::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; /* border thickness */

   background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.431),
    transparent
  ); 

  background-size: 200% 200%;
  animation: borderMove 4s linear infinite;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
} 

/* subtle glow */
.button-animation::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.431),
    transparent 70%
  );
  opacity: 0;
  transition: 0.3s;
}

/* hover effect */
.button-animation:hover::after {
  opacity: 1;
} 

/* animation */
 @keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
} 

.border-animate::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.3s;
}

.border-animate:hover::after {
  width: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}